.popup {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  flex-direction: column;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: visibility .2s, opacity .2s ease-in-out;
  left: 0;
  top: 0;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility .2s, opacity .2s ease-in-out;
}

.popup__btn-close {
  display: flex;
  position: relative;
  height: 20px;
  width: 20px;
  transform: translate(230px, 0px);
  z-index: 5;
  border: none;
  margin: 0;
  padding: 0;
  align-self: center;
  background-color: transparent;
  background-image: url(../../images/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

.popup__btn-close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__btn-close {
    height: 26px;
    width: 26px;
    transform: translate(150px, 5px);
    background-size: cover;
  }
}
.popup__info {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  z-index: 5;
  align-items: center;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  flex-direction: column;
  width: 430px;
  background-color: white;
  color: black;
}

.popup__registerText {
  width: 358px;
  display: flex;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  align-self: center;
  margin: 32px auto 0;
  padding: 0;
  text-align: center;
}

.popup__btn {
  position: absolute;
  z-index: 10;
  width: 21px;
  height: 21px;
  background-color: tomato;
}
