.not-found {
  width: calc(100% - 440px*2);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 246px;
}

.not-found__title {
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 0 0 5px 0;
}

.not-found__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 0 184px 0;
}

.not-found__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;
  transition: opacity 0.3s ease-in-out;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media(max-width: 1179px) {
  .not-found {
      width: calc(100% - 184px*2);
  }
}

@media(max-width: 720px) {
  .not-found {
      width: calc(100% - 10px*2);
      padding-top: 329px;
  }
}
