.header__navigation_burger_opened {
  position: absolute;
  visibility: visible;
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  box-sizing: border-box;
  padding-top: 193px;
  width: 68%;
  height: 100vh;
  background-color: white;
  top:0;
  right:0;
  transition: visibility 0.2s ease ;
  align-items: center;
}

.header__nav-btn_close {
  visibility: visible;
  display: flex;
  position: absolute;
  top: 10px;
  right: 22px;
  background-image: url('../../images/close-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
  object-fit: fill;
  width: 34px;
  height: 34px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.header__navigation {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.header__logo-link_inactive {
  display: none;
}

.header__nav-link {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: black;
}

.header__nav-link_saved-movies {
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
}

.header__nav-btn {
  display: none;
  position: absolute;
  top: -20;
  right: 30px;
  background-image: url('../../images/burger-menu.svg');
  z-index: 11;
  object-fit: fill;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 34px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.header__nav-link_profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.header__profile-account {
  font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 12px 8px 31px;
    color: #000000;
    border: solid;
    border-color: #E8E8E8;
    border-width: 3px;
    border-radius: 20px;
    box-sizing: content-box;
    transition: opacity 0.3s ease-in-out;
    background-image: url('../../images/accountlogo.svg');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
}

.header__nav_flex{
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.header__nav_column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__nav-link_ml{
  margin-left: 16px;
}


.header__nav-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 800px) {

  .header__nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 4px;
  }

  .header__nav-link_saved-movies {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: black;
    margin-left: 0;
    padding-bottom: 4px;
  }

  .header__nav-link_profile {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: black;
    margin-top: 621px;
    padding-bottom: 4px;
  }

  .header__nav-link_movies {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: black;
    padding-bottom: 4px;
    margin-top: 28px;
    margin-bottom: 28px;
    text-decoration: none;
  }

  .header__nav-link:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  .header__nav-link_saved-movies:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  .header__nav-link_movies:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  .header__nav-link_inactive {
    display: none;
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
  }

  .header__nav-btn {
    display: flex;
    visibility: visible;
  }

}

@media screen and (max-width: 442px) {
  .header__nav-btn {
    right: 14px;
  }

  .header__navigation_burger_opened {
    width: 100%;
  }

  .header__navigation{
    padding-left: 24px;
  }
}
