.header {
    background-color: #FFFFFF;
    display: flex;
    padding: 18px 70px;
    position: relative;
}

.header__logo {
    margin-right: 44px;
}

@media(max-width: 992px) {
    .header {
        padding: 18px 30px;
    }
}

@media(max-width: 720px) {
    .header {
        padding: 18px 14px;
    }
}

