.footer {
    padding: 79px 70px 20px 70px;
    background-color: #FAFAFA;
}

.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer__links-item:not(:last-child) {
    margin-right: 20px;
}

.footer__link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #000000;
    transition: opacity 0.3s;
}

.footer__link:hover {
    opacity: 0.5;
}

@media(max-width: 992px) {
    .footer {
        padding: 79px 30px 20px 30px;
    }
}

@media(max-width: 720px) {
    .footer {
        padding: 79px 10px 10px 10px;
        background: #FFFF;
    }

    .footer__text {
        margin-bottom: 30px;
    }

    .footer__nav {
        flex-direction: column;
        align-items: center;
    }

    .footer__links {
        order: -1;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .footer__links-item:not(:last-child) {
        margin: 0 0 12px 0;
    }

}